* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 300px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  animation: gallery 20s linear infinite;
  cursor: pointer;
}

.container span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 90deg)) translateZ(300px);
  -webkit-box-reflect: below 2.5px linear-gradient(transparent, transparent, rgba(3, 3, 3, .2));
  transition: all .3s ease-in;
}

.container span .content {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-color: #eee;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}

.icon{
  padding: 100px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 2rem;
  color: #ccc;
  transition: all .3s ease;
}

.container:hover{
  animation-play-state: paused;
}

.container span:hover{
  transform: rotateY(calc(var(--i) * 90deg)) translateZ(300px) translateY(-30px);
}

.container span:hover .content {
  background-color: #333;
}

.container span:hover .content .icon{
  color: #333;
}

@keyframes gallery {
  0% {
    transform: perspective(5000px) rotateY(0deg);
  }

  100% {
    transform: perspective(5000px) rotateY(360deg);
  }
}